CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -Wno-missing-braces, -Wno-c2y-extensions, --std=c++20]
  Remove: [-W*, -std=c++23]
  Compiler: clang++
  CompilationDatabase: .build
Diagnostics:
  ClangTidy:
    Add: [modernize*, bugprone*, readability*, performance*]
    Remove: [readability-static-accessed-through-instance, readability-magic-numbers, readability-identifier-length]
