.idea/
.idea_modules/
.build*/
.pr-meta/
build/
/compile_commands.json
.scratch*/
dist*/
result*
__pycache__/**
.cache/
.devcontainer/
.venv/
.vscode/
.claude*/
*.iws
*.swp
*.swo
*.gcov
*~
~$*.doc
CMakeUserPresets.json
bazel-*
MODULE.bazel.lock
.bazelversion
