# Compile flag relative paths resolve from the source file's CWD, which is `test_package/src`.
# Hence ../../include rather than ../include, as the location of this .clangd might imply.
CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra, -Wpedantic, -Wno-missing-braces, -Wno-c2y-extensions, -isystem../../include]
  Remove: -W*
  Compiler: clang++
  CompilationDatabase: None
Diagnostics:
  ClangTidy:
    Add: [bugprone*, readability*, performance*]
    Remove: [readability-static-accessed-through-instance, readability-magic-numbers, readability-identifier-length]
